body{
    background-color: rgb(37, 37, 37);
}


label {
    margin-left: 15px;
    font-weight: bold;
}

input {
     width: 80%;
     float: right;
     margin-right: 15px;
     border-radius: 5px;
     background-color: ivory;
 }

 button{
    float: right;
    bottom: 5px;
    border-radius: 5px;
    margin-right: 15px;
    margin-bottom: 5px;
    font-weight: bold;
 }

h1{
     text-align: center;
 }

#top{
    background-color: rgb(211, 211, 211);
    border-radius: 5px;
    overflow:auto;
    margin-bottom: 15px;  
 }

 .meme-img{
    border: 2px solid ivory;
    border-radius: 5px;
    }

.top{
    position: absolute;
    top: 20px;
    left: 20px;
    font-weight: bold;
    font-size: large;
    color: ivory;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.bottom{
    position: absolute;
    bottom:20px;
    right: 20px;
    font-weight: bold;
    font-size: large;
    color: ivory;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: fit-content;
    position: relative;
    margin-bottom: 15px;
    margin-right:  15px;  
    
    
}


.overlayImg{
    position: absolute;
    display: block;
    top: 50%;
    margin-top: -50px;
    left: 50%;
    margin-left: -50px;
    height: 100px;
    width: 100px;
    transition: all .3s, ease;
    opacity: 0;
    border-radius: 50%;
    border: 7px solid red;
        
}



.img-responsive:hover .overlayImg {
    opacity: 50%;
}